<div id="<%= dom_id(budget, :confirm_button) %>">
  <%= render DS::Button.new(
    text: "Confirm",
    variant: "primary",
    full_width: true,
    href: budget_path(budget, **with_ledger_usage_url_options),
    method: :get,
    disabled: !budget.allocations_valid?
  ) %>
</div>
